@using JobBoard.Models;

@{
  Layout = "_Layout";
}

@if(@Model.Count == 0) {
  <h3>You have not posted any jobs</h3>
} else {
<h3>Your job postings</h3>
<ul>
@foreach(JobOpening job in Model["joblistings"])
{
  <li>
  <h2>@job.Title</h2>
  <p>@job.Description</p>
  <p>@job.Contact.Email</p>
  <p>@job.Contact.PhoneNumber</p>
  <p>@job.Contact.Email</p>
  </li>
}
</ul>
}